@*Route*@
@page "/reports"

@*Getting HttpClient class*@
@inject HttpClient http

@*For JS confirmations*@
@inject IJSRuntime js

@*For redirecting purposes*@
@inject NavigationManager Navigation

@inject ISyncLocalStorageService LocalStorage



@if (users == null)
{
    <text>Loading..</text>
}
else if (users.Length == 0)
{
    <text>No users available to generate reports</text>
}
else
{

    <div class="container report-section">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
                <img class="report-img mx-auto d-block align-self-center" src="img/Report/Report Image.png">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
                    
                <EditForm Model="@selectedUser" OnValidSubmit="@LoadTickets">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                        
                        <h4 id="generate-report-text">Generate <br> Progress Reports</h4>

                        <div class="form-group">
                             <label id="label-text" for="InputComapnyName">Select a user</label>
                                <InputSelect @bind-Value="selectedUser.UserId" class="form-control"
                                    aria-describedby="emailHelp" placeholder="Enter company name">
                                    @foreach(var user in users)
                                    {
                                        <option style="font-weight: 600;" value="@user.UserId">@user.UserName</option>    
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => selectedUser.UserId)" />
                         </div>
                        <button type="submit" class="btn report-generate-btn">Generate Progress Report</button>
                </EditForm>

            </div>
        </div>
    </div>
}


@if (tickets != null && projects != null)
{

    foreach (var user in users)
    {
        if(selectedUser.UserId == user.UserId)
        {
            <h5 class="report-table-headings">Completed Tasks of @user.UserName</h5>
        }
    }
    <table class="table">
        <thead class="table-header">
            <tr>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Project</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task Details</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task State</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ticket in tickets)
            {
                @if (ticket.TicketState == "Completed")
                {
                    <tr>
                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @foreach (var project in projects)
                            {
                                if(ticket.ProjectId == project.ProjectId)
                                {
                                    <a class="text-decoration-none" href="/tickets/@project.ProjectId">
                                        <p>@project.ProjectName</p>
                                    </a>
                                }
                            }
                        </td>

                        <td class="col-lg-3" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketTitle
                        </td>

                        <td class="col-lg-5" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketDescription
                        </td>

                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @ticket.TicketState   
                        </td>
                    </tr>
                } 
            }
        </tbody>
    </table>

    @*<a class="btn btn-success" @onclick="GetCompletedChart" >Chart2</a>*@
    <div class="container chart-section">
        <div class="row">

            <div class="col-lg-6 my-auto">
                <div style="width:500px; height:200px;" 
                    id="chartdiv2" class="mx-auto d-block"></div>
            </div>

            <div class="col-lg-6 my-auto">
                <p class="mx-auto d-block">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged.
                </p>
            </div>

        </div>
    </div>


    foreach (var user in users)
    {
        if(selectedUser.UserId == user.UserId)
        {
            <h5 class="report-table-headings">Successful Tasks of @user.UserName</h5>
        }
    }
    <table class="table">
        <thead class="table-header">
            <tr>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Project</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task Details</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task State</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ticket in tickets)
            {
                @if (ticket.TicketState == "Successful")
                {
                    <tr>
                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @foreach (var project in projects)
                            {
                                if(ticket.ProjectId == project.ProjectId)
                                {
                                    <a class="text-decoration-none" href="/tickets/@project.ProjectId">
                                        <p>@project.ProjectName</p>
                                    </a>
                                }
                            }
                        </td>

                        <td class="col-lg-3" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketTitle
                        </td>

                        <td class="col-lg-5" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketDescription
                        </td>

                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @ticket.TicketState   
                        </td>
                    </tr>
                } 
            }
        </tbody>
    </table>

    <div class="container chart-section">
        <div class="row">

            <div class="col-lg-6 my-auto">
                <div style="width:500px; height:200px;" 
                    id="chartdiv3" class="mx-auto d-block"></div>
            </div>

            <div class="col-lg-6 my-auto">
                <p class="mx-auto d-block">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>


    foreach (var user in users)
    {
        if(selectedUser.UserId == user.UserId)
        {
            <h5 class="report-table-headings">Ongoing Tasks of @user.UserName</h5>
        }
    }
    <table class="table">
        <thead class="table-header">
            <tr>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Project</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task Details</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Task State</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ticket in tickets)
            {
                @if (ticket.TicketState == "Ongoing")
                {
                    <tr>
                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @foreach (var project in projects)
                            {
                                if(ticket.ProjectId == project.ProjectId)
                                {
                                    <a class="text-decoration-none" href="/tickets/@project.ProjectId">
                                        <p>@project.ProjectName</p>
                                    </a>
                                }
                            }
                        </td>

                        <td class="col-lg-3" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketTitle
                        </td>

                        <td class="col-lg-5" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0">
                            @ticket.TicketDescription
                        </td>

                        <td class="col-lg-2" style="text-align:left; font-family: 'Gilroy'; 
                            font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                            @ticket.TicketState   
                        </td>
                    </tr>
                } 
            }
        </tbody>
    </table>


    @*<a class="btn btn-success" @onclick="GetChart" >Chart</a>*@
    <div class="container chart-section">
        <div class="row">

            <div class="col-lg-6 my-auto">
                <div style="width:100%; height:200px;" 
                    id="chartdiv" class="mx-auto d-block"></div>
            </div>

            <div class="col-lg-6 my-auto">
                <p class="mx-auto d-block">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>
}



@code {

    TicketEntity[] tickets { get; set; }

    UserEntity[] users { get; set; }

    ProjectEntity[] projects { get; set; }

    UserReportEntity selectedUser = new UserReportEntity();

    int length;

    int ongoingCounter = 0;


    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(LocalStorage.GetItemAsString("username")))
        {
            await LoadUsers();
            await LoadProjects();
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }

    public async Task GetChart()
    {
        int ongoingCounter = 0;
        foreach (var item in tickets)
        {
            if(item.TicketState == "Ongoing")
            {
                ongoingCounter++;
            }
        }
        await js.InvokeVoidAsync("OngoingChart", length, ongoingCounter);
        await GetCompletedChart();
        await GetSuccessfulChart();
    }

    public async Task GetCompletedChart()
    {
        int completedCounter = 0;
        foreach (var item in tickets)
        {
            if(item.TicketState == "Completed")
            {
                completedCounter++;
            }
        }
        await js.InvokeVoidAsync("CompletedChart", length, completedCounter);
    }

    public async Task GetSuccessfulChart()
    {
        int successfulCounter = 0;
        foreach (var item in tickets)
        {
            if(item.TicketState == "Successful")
            {
                successfulCounter++;
            }
        }
        await js.InvokeVoidAsync("SuccessChart", length, successfulCounter);
    }

    public async Task LoadTickets()
    {
        @if (selectedUser.UserId == Guid.Empty)
        {
            await js.InvokeVoidAsync("alert", "Make sure to fill all the fields before generating the report");
            Navigation.NavigateTo("/reports");
        }
        else
        {
            tickets = await http.GetFromJsonAsync<TicketEntity[]>($"api/report/{selectedUser.UserId}");
            length = tickets.Length;
            await GetChart();
            await GetCompletedChart();   
        }
    }

    public async Task LoadUsers()
    {
        users = await http.GetFromJsonAsync<UserEntity[]>("api/user");
    }

    public async Task LoadProjects()
    {
        projects = await http.GetFromJsonAsync<ProjectEntity[]>("api/project");
    }

}
