@page "/collaboration/collaborationform"

@*Getting HttpClient class*@
@inject HttpClient http


@if (users == null)
{
    <text>Loading..</text>
}
else if (users.Length == 0)
{
    <text>No Record Found</text>
}
else
{
    <EditForm Model="@ticket" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        @if( projects != null)
        {
            @foreach (var item in projects)
            {
                if (projectId == item.ProjectId)
                {
                    <h4 id="ticket-text">Manage <br> 
                        <span style="color: #8676FF; text-decoration: none; font-weight: 600;">
                            @item.ProjectName</span> Tasks
                    </h4>
                }   
            } 
        }

        <div class="form-group">
            <label id="label-text" for="InputTicketName">Ticket Name</label>
            <InputText @bind-Value="ticket.TicketTitle" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter ticket name"></InputText >
            <ValidationMessage For="@(() => ticket.TicketTitle)" />
        </div>

        <div class="form-group">
            <label id="label-text" for="InputTicketDetails">Ticket Details</label>
            <InputTextArea @bind-Value="ticket.TicketDescription" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter ticket description"></InputTextArea>
            <ValidationMessage For="@(() => ticket.TicketDescription)" />
        </div>

        <div class="form-group">
            <label id="label-text" for="InputTicketStatus">Ticket Status</label>
                <InputSelect @bind-Value="ticket.TicketState" class="form-control"
                    aria-describedby="emailHelp" placeholder="Enter ticket status">
                     <option style="font-weight: 600;" value="Ongoing">Ongoing</option> 
                     <option style="font-weight: 600;" value="Completed">Completed</option>
                     <option style="font-weight: 600;" value="Successful">Successful</option>
                </InputSelect>
            <ValidationMessage For="@(() => ticket.TicketState)" />
        </div>

        <div class="form-group">
            <label id="label-text" for="InputTicketAllocatedUser">Allocated User</label>
                <InputSelect @bind-Value="ticket.UserId" class="form-control"
                    aria-describedby="emailHelp" placeholder="select allocated user">
                    @foreach(var user in users)
                    {
                        <option style="font-weight: 600;" value="@user.UserId">@user.UserName</option>    
                    }
               </InputSelect>
         </div>

        <div class="form-group">
            <label id="label-text" for="InputTicketInitializedDate">Started Date</label>
            <InputDate  @bind-Value="ticket.TicketStartedDate" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter ticket initialized date"></InputDate>
            <ValidationMessage For="@(() => ticket.TicketStartedDate)" />
        </div>

        <button type="submit" class="btn ticket-btn">@buttonText</button>
    </EditForm>
}

@code {

    [Parameter] public TicketEntity ticket { get; set; }
    [Parameter] public string buttonText { get; set; } = "Save Ticket";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public Guid projectId { get; set; }

    UserEntity[] users { get; set; }

    ProjectEntity[] projects { get; set; }

    //[Parameter] public Guid projectId { get; set; }

    CollaborationEntity[] collaborations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
        await LoadProjects();
    }

    async Task LoadUsers()
    {
        users = await http.GetFromJsonAsync<UserEntity[]>($"api/collaboration/{projectId}");
        //collaborations = await http.GetFromJsonAsync<CollaborationEntity[]>("api/collaboration/{}");
    }

    async Task LoadProjects()
    {
        projects = await http.GetFromJsonAsync<ProjectEntity[]>($"api/project");
    }

}
