@*Route*@
@page "/tickets/{projectId:guid}"

@*Getting HttpClient class*@
@inject HttpClient http

@*For JS confirmations*@
@inject IJSRuntime js

@*For redirecting purposes*@
@inject NavigationManager Navigation

@using System.Linq;

<h3 class="mb-5">Tickets</h3>

@if (tickets == null && users == null)
{
    <text>Loading..</text>
}
else if (tickets.Length == 0)
{
    <text>No Record Found</text>
}
else
{
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th style="text-align:center">Task</th>
                <th style="text-align:center">Description</th>
                <th style="text-align:center">State</th>
                <th style="text-align:center">Incharge</th>
                <th style="text-align:center"></th>
                @*<th>Delete</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach(var ticket in tickets)
            {
                <tr>
                    <td class="col-lg-2" style="text-align:center; width:50%">
                        @ticket.TicketTitle
                    </td>
                    <td class="col-lg-5 pr-3" style="text-align:center">
                        @ticket.TicketDescription
                    </td>
                    <td class="col-lg-1" style="text-align:center">
                        @ticket.TicketState
                    </td>
                    <td class="col-lg-2" style="text-align:center">                         
                        @foreach( var user in users )
                        {
                            @if( @ticket.UserId == @user.UserId )
                            {
                                <p>@user.UserName</p>
                            }   
                        }
                    </td>
                    <td class="col-lg-5" style="text-align:center">
                        <button class="btn btn-success" href="/tickets/edit/@ticket.TicketTitle/@projectId" @onclick="@(() => UpdateTicket(ticket.TicketTitle))">Update</button>
                        <button class="btn btn-danger" @onclick="@(() => DeleteTicket(ticket.TicketTitle))">Delete</button>
                    </td>
                </tr>   
            }
        </tbody>
    </table>

    <a class="btn btn-success mt-3" href="/tickets/create/@projectId">Add Task</a>
}


<h3 class="mt-5">Assigned Users</h3>

@if (users == null)
{
    <text>Loading..</text>
}
else if (users.Length == 0)
{
    <text>No Record Found</text>
}
else
{   
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Occupation</th>
                <th style="text-align:center">Capacity</th>
                <th style="text-align:center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users)
            {
                <tr>
                    <td class="col-lg-4" style="text-align:center">
                        @user.UserName 
                    </td>
                    <td class="col-lg-4" style="text-align:center">
                        @user.UserOccupation
                    </td>
                    <td class="col-lg-4" style="text-align:center">
                        @user.UserCapacity
                    </td>
                    <td class="col-lg-5" style="text-align:center">
                        <button class="btn btn-danger" @onclick="@(() => DeleteCollaboration(@user.UserId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-success mt-3" href="/collaboration/create/@projectId">Assign Users</a>

@code {

    [Parameter] public Guid projectId { get; set; }

    // An object array of ticket objects - TicketEntity
    TicketEntity[] tickets { get; set; }

    UserEntity[] users { get; set; }

    CollaborationEntity[] collaborations { get; set; }

    ProjectEntity[] projects { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadTickets();
    }

    async Task LoadTickets()
    {
        tickets = await http.GetFromJsonAsync<TicketEntity[]>($"api/ticket/{projectId}");

        collaborations = await http.GetFromJsonAsync<CollaborationEntity[]>($"api/collaboration");

        users = await http.GetFromJsonAsync<UserEntity[]>($"api/collaboration/{projectId}");

        projects = await http.GetFromJsonAsync<ProjectEntity[]>("api/project");
    }

    async Task UpdateTicket(string ticketName)
    {
        if(await js.InvokeAsync<bool>("confirm", "Are you sure you want to edit ?"))
        {
            //Console.WriteLine("Works");
            Navigation.NavigateTo($"/tickets/edit/{ticketName}/{projectId}");
            await LoadTickets();
        }
    }

    async Task DeleteTicket(string ticketName)
    {
        if(await js.InvokeAsync<bool>("confirm", "Are you sure you want to delete ?"))
        {
            //Console.WriteLine("Works");
            await http.DeleteAsync($"api/ticket/{ticketName}");
            await LoadTickets();
        }
    }

    async Task DeleteCollaboration(Guid userId)
    {
        foreach (var collaboration in collaborations)
            {   
                if(collaboration.UserId == userId && collaboration.ProjectId == projectId)
                {
                    await http.DeleteAsync($"api/collaboration/{collaboration.CollaborationId}");
                }
            }
            await LoadTickets();
    }

}
