@page "/projects/projectform"


<EditForm Model="@project" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <h4 id="login-text">Manage <br> Company Projects</h4>

    <div class="form-group">
        <label id="label-text" for="InputUserName">Project Name</label>
        <InputText @bind-Value="project.ProjectName" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter project name"></InputText>
        <ValidationMessage For="@(() => project.ProjectName)" />
    </div>

    <div class="form-group">
        <label id="label-text" for="InputUserName">Project Details</label>
        <InputText @bind-Value="project.ProjectDescription" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter project description"></InputText>
        <ValidationMessage For="@(() => project.ProjectDescription)" />
    </div>

    <div class="form-group">
        <label id="label-text" for="InputUserName">Started Date</label>
        <InputDate  @bind-Value="project.ProjectStartedDate" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter project started date"></InputDate>
        <ValidationMessage For="@(() => project.ProjectStartedDate)" />
    </div>

    <div class="form-group">
        <label id="label-text" for="InputUserName">Project Status</label>
        <InputText  @bind-Value="project.ProjectStatus" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter project status"></InputText>
        <ValidationMessage For="@(() => project.ProjectStatus)" />
    </div>

    <button type="submit" class="btn btn-success">@buttonText</button>

</EditForm>

@code {
    [Parameter] public ProjectEntity project { get; set; }
    [Parameter] public string buttonText { get; set; } = "Save Project";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
