@*Route*@
@page "/companies"

@*Getting HttpClient class*@
@inject HttpClient http

@*For JS confirmations*@
@inject IJSRuntime js

@*For redirecting purposes*@
@inject NavigationManager Navigation

@inject ISyncLocalStorageService LocalStorage



@if (companies == null)
{
    <text>Loading..</text>
}
else if (companies.Length == 0)
{
    <text>No Record Found</text>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto">
                <h3 class="company-heading">Discover <br> Your Companies</h3>
            </div>
            <div class="col-lg-6 my-auto">
                <a class="btn add-company-btn" href="/companies/create"><p>Add company</p></a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="table-header">
            <tr>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Company Name</th>
                <th style="text-align:left; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Company Details</th>
                <th style="text-align:center; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Employees</th>
                <th style="text-align:center; font-weight: 600; padding-top: 20px; padding-bottom: 20px;">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var company in companies)
            {
                <tr>
                    <td class="col-lg-3" style="text-align:left; font-family: 'Gilroy'; 
                        font-weight: 500; padding-top: 20px; padding-bottom: 20px;">
                        <a style="color: #6C60FF; text-decoration: none; font-weight: 600;" 
                            href = "/projects/@company.CompanyId">@company.CompanyName</a>
                    </td>
                    <td class="col-lg-5" style="text-align:left; font-family: 'Gilroy'; 
                        font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px; line-height:2.0;">
                        @company.CompanyDescription
                    </td>
                    <td class="col-lg-2" style="text-align:center; font-family: 'Gilroy'; 
                        font-weight: 500; padding-top: 20px; padding-bottom: 20px; font-size: 15px;">
                        @company.NumOfEmployees
                    </td>   
                    <td class="col-lg-3" style="text-align:center; 
                        padding-top: 20px; padding-bottom: 20px;">
                        <button class="btn update-btn" href="/companies/edit/@company.CompanyName" @onclick="@(() => UpdateCompany(company.CompanyName))"><p>Update</p></button>
                        <button class="btn delete-btn" @onclick="@(() => DeleteCompany(company.CompanyName))"><p>Delete</p></button>
                    </td>
                </tr>   
            }
        </tbody>
    </table>
}



@code {
    // An object array of company objects - CompanyModel
    CompanyEntity[] companies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(LocalStorage.GetItemAsString("username")))
        {
            await LoadComapnies();   
        }
        else
        {
            Navigation.NavigateTo("/login");
        }
    }

    async Task LoadComapnies()
    {
        companies = await http.GetFromJsonAsync<CompanyEntity[]>("api/company");

        //await js.InvokeVoidAsync("Chart");
    }

    public async Task GetChart()
    {
        await js.InvokeVoidAsync("ss");
    }

    async Task UpdateCompany(string companyName)
    {
       if(await js.InvokeAsync<bool>("confirm", "Are you sure you want to edit ?"))
        {
            //Console.WriteLine("Works");
            Navigation.NavigateTo($"/companies/edit/{companyName}");
            await LoadComapnies();
        } 
    }

    async Task DeleteCompany(string companyName)
    {
        if(await js.InvokeAsync<bool>("confirm", "Are you sure you want to delete ?"))
        {
            //Console.WriteLine("Works");
            await http.DeleteAsync($"api/company/{companyName}");
            await LoadComapnies();
        }
    }
}
