@*Route*@
@page "/companies/createcompany"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

@*Accessing shared files*@
@*Added to the import.razor file also*@
@using ManagementAppCW02.Shared.Models;

<h3>Add Company</h3>

<CompanyForm buttonText = "Add Company" companyModel = "@company" OnValidSubmit = "@CreateCompany">

</CompanyForm>

@*<EditForm Model="@company" OnValidSubmit="@CreateCompany">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label class="control-label">Company Name</label>
        <InputText @bind-Value="company.companyName"></InputText>
        <ValidationMessage For="@(() => company.companyName)" />
    </div>

    <div class="form-group">
        <label class="control-label">Company Type</label>
        <InputText @bind-Value="company.companyType"></InputText>
        <ValidationMessage For="@(() => company.companyType)" />
    </div>

    <div class="form-group">
        <label class="control-label">Number of Employees</label>
        <InputNumber  @bind-Value="company.numOfEmployees"></InputNumber>
        <ValidationMessage For="@(() => company.numOfEmployees)" />
    </div>

    <button type="submit" class="btn btn-success">Create Company</button>

</EditForm>*@

@code {
    CompanyModel company = new CompanyModel();

    async Task CreateCompany()
    {
        await http.PostAsJsonAsync("api/company", company);
        Navigation.NavigateTo("/companies");
    }
}
