@*Route*@
@page "/login"

@inject ILocalStorageService LocalStorage

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

@*For JS confirmations*@
@inject IJSRuntime js

@inject AuthenticationStateProvider AuthStateProvider

@if (users == null)
{ 
    <text>Loading</text>
}
else if(users.Length == 0)
{
    <text>You need to add account before logging to the system</text>
}
else
{
    <h3>User Login</h3>

    <EditForm Model="@loggedUser" OnValidSubmit="@LoginUser">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        @*<div class="form-group">
            <label class="control-label">Name</label>
            <div class = "col-sm-12">
                <InputSelect @bind-Value="loggedUser.UserName">
                    @foreach(var user in users)
                    {
                       <option value=@user.UserName>@user.UserName</option> 
                    } 
                </InputSelect>
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label">Name</label>
            <InputText @bind-Value="loggedUser.UserName"></InputText>
            <ValidationMessage For="@(() => loggedUser.UserName)" />
        </div>

        <div class="form-group">
            <label class="control-label">Email</label>
            <InputText @bind-Value="loggedUser.UserEmail"></InputText>
            <ValidationMessage For="@(() => loggedUser.UserEmail)" />
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <InputText @bind-Value="loggedUser.UserPassword"></InputText>
            <ValidationMessage For="@(() => loggedUser.UserPassword)" />
        </div>

        <button type="submit" class="btn btn-success">Login</button>
        <br>
        <a href="/register">Register from here</a>

    </EditForm>
}


@code {

    AuthEntity loggedUser = new AuthEntity();
    UserEntity user = new UserEntity();
    UserEntity[] users { get; set; }

    public async Task LoginUser()
    {
        string name = "";
        foreach (var user in users)
        {   
            if(loggedUser.UserName == user.UserName)
            {
                name = loggedUser.UserName;
            }
        }

        Console.WriteLine(name);
        //string name = loggedUser.UserName;

        if(!string.IsNullOrEmpty(name))
        {

            user = await http.GetFromJsonAsync<UserEntity>($"api/user/{name}");

            loggedUser.UserRole = user.UserRole;

            var result = await http.PostAsJsonAsync("api/auth", loggedUser);
            if (result.IsSuccessStatusCode)
            {
                Console.WriteLine(result);
                await LocalStorage.SetItemAsync<string>("email", loggedUser.UserEmail);
                await LocalStorage.SetItemAsync<string>("role", loggedUser.UserRole);
                await LocalStorage.SetItemAsync<string>("username", loggedUser.UserName);
                await AuthStateProvider.GetAuthenticationStateAsync();
                Navigation.NavigateTo("/companies");  
            }
            else
            {
                await js.InvokeVoidAsync("alert", "Wrong credentials, try again !");
                Navigation.NavigateTo("/login"); 
            } 
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Wrong credentials, try again !");
            Navigation.NavigateTo("/login");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        users = await http.GetFromJsonAsync<UserEntity[]>("api/user");
    }
}
